.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 70px;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}
