#main-content,
.main-container,
.code-split {
  display: flex;
  flex-grow: 1;
}

.code-split {
  flex-direction: row;
}

.logo-container {
  flex: 1;
  text-align: center;
  padding-top: 8em;
}

.tagline {
  margin-top: 20px;
  padding: 0 2em;
 }

.language-verve {
  flex: 1;
}
