* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;

pre[class*="language-"] {
  background-color: #f4f4f6;
}

.subtitle {
  color: $md-tertiary-color;
}

.token.function {
  color: $md-secondary-color;
}

.token.operator {
  background: none !important;
}

.md-btn--toolbar {
  display: none;
}

.md-drawer--left > header {
  display: none;
}

@media (max-width: 640px - 1) {
  .md-btn--toolbar {
    display: block;
  }

  .md-title--toolbar {
    position: absolute;
    left: 50%;
    margin-left: -31px;
    margin-top: 8px !important;
  }

  .code-split {
    flex-direction: column !important;
  }

  .tagline {
    font-size: 21px;
  }
}
