* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

.token.operator {
  background: none !important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;

.subtitle {
  color: #77A1CF;
}
