@import '~react-md/src/scss/react-md';
//$md-primary-color: #3C3A3A;
//$md-primary-color: #93B8E1;
//$md-secondary-color: #5B449D;
$md-primary-color: #FFFFFF;
$md-secondary-color: #5B449D;
$md-tertiary-color: lighten($md-secondary-color, 15%);

.main-container,
.darker-background {
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: calc(100% - 64px);
}

.main-container {
  padding-bottom: 40px;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
